BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
NamespaceIndentation: All
AlignAfterOpenBracket: Align
DerivePointerAlignment: false
SortIncludes: true
IncludeBlocks: Regroup
ReflowComments: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

